.external-css {
    color: red;
    border: solid;
    border-radius: 5px;
    text-align: center;
}
body {
    background-color:cornflowerblue;
    margin: 0;
    padding: 0;
    justify-content: center;
}
/* CSS */
.CSS{
    background-color: blue;
    padding: 5px;
    border: solid;
    border-color: black;
    color: aliceblue;
}
/* cssคืออะไร */
.container1{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 15px;
}
.cssคืออะไร{
    background-color: aliceblue;
    border: solid;
    border-radius: 20px;
    margin-top: 5px;
    width: 450px ;
}
/* การเชื่อม */
.การเชื่อม{
    background-color: aliceblue;
    border: solid;
    border-radius: 20px;
    margin-top: 5px;
    text-align: center;
    width: 500px ;
}
.hการเชื่อม{
    background-color: #6e82ff;
    border: solid;
    border-radius: 5px;
    width: 400px;
    text-align: center;
    margin-left: 53px;
}
/* ตัวอย่างการใช้ */
.container2{
    display: flex;
    justify-content: center;
}
.ตัวอย่างการใช้{
    background-color: lightskyblue;
    border: solid;
    border-radius: 35px;
    width: 300px;
    text-align: center;
}
.container3{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 15px;
}
.inlineCSS{
    background-color: aliceblue;
    border: solid;
    border-radius: 15px;
    padding: 10px;
}
.hinlineCSS{
    background-color: #6e82ff;
    border: solid;
    border-radius: 5px;
    text-align: center;
}
.InternalCSS{
    background-color: aliceblue;
    border: solid;
    border-radius: 15px;
    padding: 10px;
}
.hInternalCSS{
    background-color: #6e82ff;
    border: solid;
    border-radius: 5px;
    text-align: center;
}
.ExternalCSS{
    background-color: aliceblue;
    border: solid;
    border-radius: 15px;
    padding: 10px;
}
.hExternalCSS{
    background-color: #6e82ff;
    border: solid;
    border-radius: 5px;
    text-align: center;
}
/* CSS selector */
.container4{
    display: flex;
    justify-content: center;
}
.hCSSselector{
    background-color: lightskyblue;
    border: solid;
    border-radius: 35px;
    width: 300px;
    text-align: center;
}
.container5{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 15px;
}
.CSSselectorคือ{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 400px;
    padding: 25px;
}
.ตัวอย่างCSSselector{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
}
.hตัวอย่างCSSselector{
    background-color: #6e82ff;
    border: solid;
    border-radius: 5px;
    text-align: center;
    width: 250px;
}
/* universal selector */
.box1{
    display: flex;
    justify-content: center;
}
.universalselector{
    display: flex;
    justify-content: center;
}
.huniversalselector{
    background-color: lightskyblue;
    border: solid;
    border-radius: 20px;
    width: 300px;
    text-align: center;
    padding: 15px;
}
.container6{
    display: flex;
    gap: 100px;
    margin: 20px;
}
.universalselectorคือ{
    border: solid;
    border-radius: 15px;
    width: 350px;
    padding-right: 25px;
    background-color: aliceblue;
}
.ตัวอย่างuniversalselecto{
    border: solid;
    border-radius: 15px;
    width: 700px;
    background-color: aliceblue;
    text-align: center;
}
.universalselectorตัวอย่าง{
    display: flex;
    justify-content: center;
}
.huniversalselectorตัวอย่าง{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
}
/* CSS property */
.CSSproperty{
    border: solid;
    border-radius: 5px;
    width: 250px;
    background-color: blue;
    border-color: black;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
}
/* --------------------------------------- */
.container7{
    display: flex;
    justify-content: center;
    gap: 35px;
}
/* property media query */
.propertymediaquery{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 15px;
}
.boxhpropertymediaquery{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    text-align: center;
}
/* property font */
.propertyfont{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    width: 550px;
}
.boxhpropertyfont{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    text-align: center;
    width: 200px;
}
/* property color */
.propertycolor{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    padding: 10px;
    width: 350px;
}
.boxhpropertycolor{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    text-align: center;
    width: 200px;
}
/* ----------------------------------------- */
.container8{
    display: flex;
    gap: 50px;
    margin: 10px;
    justify-content: center;
}
/* propertytext-align */
.propertytext-align{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 500px;
    padding: 5px;
}
.hpropertytext-align{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 230px;
    text-align: center;
    padding: 5px;
}
/* property width height */
.propertywidth-hight{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
}
.hpropertywidth-hight{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 230px;
    text-align: center;
    padding: 5px;
}
/* -------------------------------------------- */
.container9{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property border */
.propertyborder{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 230px;
    margin-top: 85px;
}
.hpropertyborder{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 230px;
    text-align: center;
    padding: 5px;
}
/* property box-model */
.propertybox-model{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
}
.hpropertybox-model{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 230px;
    text-align: center;
    padding: 5px;
}
/* -------------------------------------------- */
.container10{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property background */
.propertybackground{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 900px;
    padding: 5px;
}
.hpropertybackground{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 230px;
    text-align: center;
    padding: 5px;
}
/* ----------------------------------------------- */
.container11{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property float */
.propertyfloat{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 700px;
    padding: 5px;
    height: 150px;
    margin-top: 35px;
}
.hpropertyfloat{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 600px;
    text-align: center;
    padding: 5px;
}
/* propertty link */
.propertylink{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 500px;
    padding: 5px;
}
.hpropertylink{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 230px;
    text-align: center;
    padding: 5px;
}
/* ----------------------------------------- */
.container12{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property position */
.propertyposition{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 700px;
    padding: 5px;
}
.hpropertyposition{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 600px;
    text-align: center;
    padding: 5px;
}
/* property z-index */
.propertyz-index{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 230px;
    margin-top: 75px;
}
.hpropertyz-index{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* ----------------------------------------- */
.container13{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property visibility */
.propertyvisibility{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 320px;
    padding: 5px;
    height: 200px;
    margin-top: 75px;
}
.hpropertyvisibility{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property important */
.propertyimportant{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 400px;
    height: 300px;
    padding: 5px;
    margin-top: 15px;
}
.hpropertyimportant{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property overflow */
.propertyoverflow{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 500px;
    padding: 5px;
}
.hpropertyoverflow{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* ----------------------------------------- */
.container14{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property  style */
.propertycursor-style{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 250px;
}
.hpropertycursor-style{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property box-shadow */
.propertybox-shadow{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 200px;
    margin-top: 25px;
}
.hpropertybox-shadow{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* ------------------------------------------- */
.container15{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property opacity */
.propertyopecity{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 500px;
    padding: 5px;
    height: 200px;
    margin-top: 60px;
}
.hpropertyopecity{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property display */
.propertydisplay{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
}
.hpropertydisplay{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property flex-direction */
.propertyflex-direction{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 220px;
    margin-top: 45px;
}
.hpropertyflex-direction{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* ----------------------------------------- */
.container16{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property flex-wrap */
.propertyflex-wrap{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 250px;
    margin-top: 45px;
}
.hpropertyflex-wrap{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* propert flex-properties */
.propertyflex-properties{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 280px;
    margin-top: 30px;
}
.hpropertyflex-properties{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* .property justify-content */
.propertyjustify-content{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 500px;
    padding: 5px;
    height: 280px;
    margin-top: 30px;
}
.hpropertyjustify-content{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* ------------------------------------------------ */
.container17{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property flex-alignment */
.propertyflex-alignment{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 240px;
    margin-top: 30px;
}
.hpropertyflex-alignment{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property grid-layout */
.propertygrid-layout{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 160px;
    margin-top: 70px;
}
.hpropertygrid-layout{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property text-shadow */
.propertytext-shadow{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 240px;
    margin-top: 30px;
}
.hpropertytext-shadow{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* ----------------------------------------- */
.container18{
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 50px;
}
/* property transform */
.propertytranform{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 300px;
    margin-top: 30px;
}
.hpropertytranform{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property transition */
.propertytransition{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 290px;
    margin-top: 30px;
}
.hpropertytransition{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}
/* property animetion */
.propertyanimetion{
    border: solid;
    border-radius: 15px;
    background-color: aliceblue;
    width: 600px;
    padding: 5px;
    height: 350px;
    margin-top: 30px;
}
.hpropertyanimetion{
    border: solid;
    border-radius: 5px;
    background-color: #6e82ff;
    width: 300px;
    text-align: center;
    padding: 5px;
}